.box {
	width: 600px;
}
.inputWrap {
	display: flex;
}
.inputWrap__element:nth-child(1) {
	margin-right: 168px;
}
.box h2 {
	padding-bottom: 15px;
}
.regInput {
	display: flex;
	justify-content: flex-end;
}
.box input[type="submit"] {
	margin: 0;
}
