/* General styles */
body {
	background: #cac8c5;
	color: #b7784e;
}
ul, li, p {
	padding: 0;
	margin: 0;
	display: block;
}
/* /General*/
/* HEADER */
.header {
	background: #f3f4f6;
	padding: 20px 0;
}
.logo__text h1{
	font-size: 50px;
	font-weight: bold;
	padding-left:60px;
}
.schedule {
	padding-left: 89px;
	font-size: 18px;
}
.schedule span {
	font-size: 20px;
	font-weight: bold;
}
/* /HEADER */
/* MENU */
.topMenu {
	padding: 20px 0;
}
.menu li {
	list-style-type: none;
	margin-right: 25px;
}
.menu li a, .lang a {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
}
.menu li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0px;
	height: 3px;
	background:  #73472e;
}
.menu li:hover a:before {
	width: 100%;
	background: #b7784e;
	transition: .7s;
}
.active {
	padding: 3px;
	border-radius: 5px;
	color: green;
	background:  deeppink;
}
.lang__item a{
	font-size: 15px;
}
.lang__item:nth-child(2) {
	margin-right: 50px;
}
/* /MENU */
/* SLIDER */
.slides__item li {
	width: 140px;
	overflow: hidden;
	padding: 1px 1px 0;
	cursor: pointer;
	-webkit-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}
.slides__item li:hover {
	width: 640px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.slides__item li:nth-child(3) {
	width: 640px;
}
.slides__item:hover li:nth-child(3) {
	width: 140px;
}
.slides__item li:nth-child(3):hover {
	width: 640px;
}
/* /SLIDER */
/* INFO */
.info {
	padding: 50px 0;
	text-align: center;
}
/* /INFO */
/* MAP */
.map {
	padding: 40px ;
	background: #f3f4f6;
}
.adress {
	font-size: 24px;
	padding: 0 85px;
}
/* /MAP */
/* FOOTER*/
.footer {
	background: #73472e;
}
.copy {
	padding: 30px 0;
}
/* /FOOTER*/
