/* General styles */
body {
	background: url("../img/pattern.png") no-repeat;
	background-size: cover;
	color: rgba(43, 123, 78, 0.92);
}
ul, li, p {
	padding: 0;
	margin: 0;
	display: block;
}
.line {
	height: 3px;
	background: #f3f4f6;
	margin: 10px 0;
}
.forDate{
	border: none;
	width: 180px;
	cursor: pointer;
	padding-left: 38px;
}
#hideMenu, #hideMenu + label {
	display: none;
}
/* /General*/
/* HEADER */
.header {
	/*background: rgba(255, 28, 10, 0.53);*/
	padding-top: 20px;
}
.logo__text h1{
	font-size: 50px;
	font-weight: bold;
	padding-left:60px;
}
.schedule {
	/*padding-left: 96px;*/
	font-size: 18px;
}
.schedule span {
	font-size: 20px;
	font-weight: bold;
}
/* /HEADER */
/* MENU */
.buttonPay a{
	background: #03a9f4;
	color: darkred;
}
.topMenu {
	padding: 20px 0;
}
.menu li {
	list-style-type: none;
	margin-right: 25px;
}
.menu li a, .lang a {
	font-size: 16px;
	font-weight: bold;
	color: #57303b;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
}
.menu li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0px;
	height: 3px;
	background:  #73472e;
}
.menu li:hover a:before {
	width: 100%;
	background: rgb(0, 220, 219);
	transition: .7s;
}
.active {
	padding: 3px;
	border-radius: 5px;
	color: #ff0035;
	background: rgba(8, 218, 219, 0.94);
}
.lang .lang__item a{
	font-size: 11px;
}
.lang__item:nth-child(2) {
	margin-right: 5px;
}
/* /MENU */
/* SLIDER */
.slides__item li {
	width: 140px;
	overflow: hidden;
	padding: 1px 1px 0;
	cursor: pointer;
	-webkit-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}
.slides__item li:hover {
	width: 640px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.slides__item li:nth-child(3) {
	width: 640px;
}
.slides__item:hover li:nth-child(3) {
	width: 140px;
}
.slides__item li:nth-child(3):hover {
	width: 640px;
}
/* /SLIDER */
/* INFO */
.info {
	padding: 50px 0;
	text-align: center;
}
.info p {
	margin-bottom: 30px;
}
/* /INFO */
/* MAP */
.map {
	padding-bottom: 60px;
	/*background: #f3f4f6;*/
}
.address {
	font-size: 24px;
	padding: 0 80px;
}
/* /MAP */
/* FOOTER*/
.footer {
	background: rgba(0,0,0,0.35);
}
.copy {
	padding: 30px 0;
}
/* /FOOTER*/
