/*MEDIA QUERIES*/
@media only screen and (max-width: 1199px) {
    .logo__text h1 {
        font-size: 41px;
    }
    .schedule {
        padding-left: 51px;
    }
    .menu li a, .lang a {
        font-size: 15px;
    }
    .slides__item li {
        height: 340px;
    }
    .address {
        font-size: 22px;
        padding: 0 58px;
    }
}
@media only screen and (max-width: 991px) {
    .logo img {
        width: 85px;
    }
    .logo__text h1 {
        font-size: 30px;
        padding-left: 39px;
    }
    .topMenu {
        padding: 0;
    }
    .menu li a, .lang a {
        font-size: 14px;
    }
    .address {
        font-size: 20px;
        padding: 0 25px;
    }
}

/*MEDIA QUERIES*/