/* ORDER */
.order label {
    font-size: 18px;
    cursor: pointer;
}
.order h2 {
    padding: 15px 0;
}
.existUsername{
    font-size: 20px;
    color: #ff4548;
    text-align: center;
}
input[type="radio"] {
    display: none;
}
#receipt + label, #delivery + label{
    font-size: 20px;
    font-weight: bold;
}
input[type="radio"]:checked + label {
    color: #fff;
}
input[id="receipt"]:checked ~ .receiptTab,
input[id="delivery"]:checked ~ .deliveryTab {
    display: block;
}
.receiptTab,
.deliveryTab {
    padding: 50px 0 0 0;
}
.receiptTab__element label,
.deliveryTab__element label {
    width: 170px;
}
.receiptTab__element input,
.deliveryTab__element input,
.receiptTab__element select,
.deliveryTab__element select {
    margin-right: 95px;
    border: 0;
}
.receiptTab__element input:nth-child(4),
.deliveryTab__element input:nth-child(4),
.deliveryTab__element select {
    margin-right: 0;
}
.price {
    font-size: 18px;
    font-weight: bold;
}
input[type="submit"] {
    width: 100%;
    border: none;
    margin: 50px 0;
    padding: 10px 0;
    background: #542584;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="date"],
input[type="number"],
input[type="text"],
input[type="email"],
select {
    border: none;
    width: 210px;
    cursor: pointer;
    background: #fff;
    padding: 5px 0 5px 38px;
}
input[type="number"],
input[type="text"],
select {
    padding-left: 0;
    text-align: center;
}
.receiptTab, .deliveryTab,
input[type="checkbox"],
form {
    display: none;
}
input[type="checkbox"]:checked  ~ .orderForm {
    display: block;
}
.myButton {
    color: rgba(43, 123, 78, 0.92);
    background: rgba(62, 230, 255, 0.53);
    padding: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 400px;
    margin: 1% 0% 1% 32.5%;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}
a.aButton{
    display: block;
    text-decoration: none;
    color: rgba(43, 123, 78, 0.92);
    background: rgba(62, 230, 255, 0.53);
    padding: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 400px;
    margin: 1% 0% 1% 32.5%;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

/* ORDER */
